{% extends 'base.html' %}

{%block head%}

<title>Task Master</title>

{%endblock%}


{%block body%}

<div class="content">
    {% if tasks|length <=0 %}
    <h6 style="text-align: center;">No Task! Create a new one below...</h6>
    {% else  %}
    <br><br>
    <table class="table table-bordered">
        <tr style="text-align: center;">
            <th scope="col">Task</th>
            <th scope="col">Added</th>
            <th scope="col">Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{ task.id }}" style="color: red;">Delete</a>
                    <br>
                    <a href="/update/{{ task.id }}" style="color: rgb(38, 0, 255);">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
    <form action="/" method="POST">
        
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="content" id="content">
            <div class="input-group-append">
              <button class="btn btn btn-success" type="submit">Add Task</button>
            </div>
        </div>
    </form>

    
</div>


{% endblock %}