{% extends 'base.html' %}

{%block head%}

<title>Task Master</title>

{%endblock%}


{%block body%}

<div class="content">
    <br>
    <br>
    <h4 style="text-align: center;">Update Task</h4>
    

    <form action="/update/{{ task.id }}" method="POST">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="content" id="content" value="{{ task.content }}">
            <div class="input-group-append">
              <button class="btn btn btn-success" type="submit">Update</button>
            </div>
        </div>
    </form>


    
</div>


{% endblock %}